<%- include('includes/head.ejs') %>
</head>
<body>
		<%- include('includes/navbar-view-book.ejs') %>
	<h1>Page for single book</h1>
<p><a href="<%= url %>"><%= url %></a></p>
	<%- include('includes/footer.ejs') %>