<%- include('includes/head.ejs') %>
</head>

<body>
	<%- include('includes/navbar-view-book.ejs') %>
	<div class="container">
		<h1>Page for single book</h1>
		<p><a href="<%= url %>"><%= url %></a></p>
	</div>

	<%- include('includes/footer.ejs') %>