<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/cards.css">
</head>

<body> 
    <%- include('includes/navbar.ejs') %>
    <%if(fav){%>
    	<h2 class="text-center">Total : <%=books.count%> book(s)</h2>
	<div class="cards-wrapper">
        
		<% books.results.forEach(book=>{ %>
		<div class="card">
			<img class="image" src="<%=book.formats['image/jpeg']%>" class="card-img-top" alt="<%=book.title%>">
			<!-- </a> -->
			<div class="card-body">
				<a class="card-title text-dark" href="/book/<%=book.id%>">
					<h4><%=book.title%></h4>
				</a>

				<div class="author">
					<% book.authors.forEach((author)=>{ %>
					<p class="card-text"><%=author.name%></p>
					<% }) %>
				</div>

				<div class="tags">
					<% book.bookshelves.forEach((tags)=>{ %>

					<p class="btn btn-primary"><%=tags%></p>
					<% }) %>
				</div>
                <form action="/removeFavorites" method="POST">
                    
                    <input type="hidden" name="userId" value="<%=user._id%>" /> 
					<input type="hidden" name="bookId" value="<%=book.id%>" />
					<button type="submit">Remove</button>
				</form>
			</div>
		</div>



		<% }) %>
    </div>
    <%}else{%>
        <h1>No Favorite Books</h1>
<%}%>

    
<%- include('includes/footer.ejs') %>